body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.imageM {
  margin: 5%;
  width: 80%;
}
/*.back :not(.message) {
  opacity: 0.5;
}*/
.back .main {
  opacity: 0.8;
}
/*
@media screen and (min-width: 500px) {
    .main {
        padding-top 3em
        width 40%
    }
}

@media screen and (max-width: 500px) {
    .main {
        padding-top 1em
        width 80%
    }
}*/
.main {
  display: flex;
  justify-content: center /* align horizontal */;
  background-color: #cda6f2;
  align-items: center /* align vertical */;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Roboto Slab;
  font-size: 13pt;
  color: #fff;
}
.message {
  width: 40%;
  height: 80%;
  padding: 2%;
  overflow: auto;
  background-color: white;
  position: fixed;
  top: 5%;
  left: 30%;
  border-radius: 20px;
  z-index: 4;
}
.message::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.message::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}
.message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightGray;
  border: 1px solid #aaa;
}
.message::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.message::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}
.image {
  position: fixed;
  z-index: 3;
}
.hidden {
  display: none;
}
.tall {
   width: 150px
}
.wide {
   height: 150px
}
.mono {
  font-family: consolas;
}
.ps {
  color: #808080;
}
.main a {
  color: #800080;
  text-decoration: none;
  font-family: consolas;
}
