body 
    background-color #cda6f2
    width 100%
    height 100%
    margin 0

/*
@media screen and (min-width: 500px) {
    .main {
        padding-top 3em
        width 40%
    }
}

@media screen and (max-width: 500px) {
    .main {
        padding-top 1em
        width 80%
    }
}*/

.main
    //text-align justify
    //margin auto
    display flex
    justify-content center /* align horizontal */
    align-items center /* align vertical */
    min-height 100vh
    min-width 100vw
    font-family Roboto Slab
    font-size 13pt
    //color #a9a9a9
    color white

.mono
    font-family consolas


.ps
    color grey

.main a
    color purple
    text-decoration none
    font-family consolas
